body {
    margin: 0;
    background-color: #fdf1d3;
    margin-top: 50px;
    overflow: hidden;
}

#meni{
    text-align: center;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: white;
} 

#meni li{
    display: inline;
}

#meni li :hover {
    color: #ff9900;
}

#meni li a{
    padding: 50px;
    color: #2c9caf;
    text-decoration: none;
    font-weight: bold;
}

iframe{      
    display: block;   /*inline element*/
    height: 90vh;  
    width: 100vw;  
    border: none; 
}