td{
    padding-bottom:30px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    height:40px;
    padding-right:100px;
}

input{
    box-shadow: 2px 2px rgb(208, 222, 236);
    height:35px;
    border:none;
    padding:5px;
}

input::placeholder{
    color:rgb(172, 175, 178);
}

img{
    padding-top:20px;
    height:110px;
    width:110px;
    padding-bottom:20px;
}

@media (min-width: 500px) {
    img {
      float: left;
      margin-right: 20px;
      margin-top: 30px;
    }

    form {
      overflow: hidden;
    }

    table {
      margin-top: 50px;
    }
  }

  body{
    margin:0;
    background-color: #fdf1d3;
}
  
iframe{     
    display: block;   /*inline element*/
    height: 10vh;  
    width: 100vw;  
    border: none; 
}

#sadrzaj{
  margin:7px;
}